{
  "id": "sp-dashboard",
  "name": "Dashboard",
  "version": "{{VERSION}}",
  "description": "{{DESCRIPTION}}",
  "manifestVersion": 1,
  "minSupVersion": "14.0.0",
  "author": "Douglas Cooper",
  "icon": "icon.svg",
  "iFrame": true,
  "sidePanel": false,
  "permissions": [
    "getTasks",
    "getArchivedTasks",
    "getAllProjects",
    "persistDataSynced",
    "loadSyncedData"
  ]
}
