name: Build Plugin

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install deps
      run: npm install
    
    - name: Build plugin
      run: make build
    
    - name: Upload plugin artifact
      uses: actions/upload-artifact@v4
      with:
        name: sp-dashboard-plugin
        path: |
          sp-dashboard/*
          !sp-dashboard/manifest.json.template
        retention-days: 90
        compression-level: 0
